:root {
    --bg: #1a1a33;
    --accent: #993d99;
    --button-primary: #25e870;
    --button-secondary: #25b1e8;
    --button-text: #ffffff;
    --theme-text: #3b3b3b;
    --theme-bg: #ffffff;
    --theme-accent: #38123d;
}