:root {
    --bg: #4ecae9;
    --accent: #9aebff;
    --button-primary: #ffffff;
    --button-secondary: #8fd6ff;
    --button-text: #37a3ce;
    --theme-text: #3b3b3b;
    --theme-bg: #ffffff;
    --theme-accent: #12163d;
}